<div class="max-w-5xl mx-auto relative mt-16 content">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            on {{ date format="M j, Y" }}
        </div>
        <img
            src="{{ image:url }}"
            alt="{{ image:alt }}"
        />
        <img
            src="{{ another_image:url }}"
            alt="{{ another_image:alt }}"
        />
        <div class="content">
            {{ content }}
        </div>
    </article>
</div>
